<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.frank.sbtest.system.dao.SystemDao">
	
	<select id="testMapper" resultType="java.util.Map">
		SELECT * FROM User
	</select>
	
	<insert id="add">
		INSERT INTO User(NAME,age) VALUES('haha',20)
	</insert>
	
	<update id="update">
		UPDATE User SET name='bbbb' WHERE age=10
	</update>
</mapper>